<!DOCTYPE html>
<html>
<head>
<style>
  table {
    border-collapse: collapse;
  }
  table, th, td {
    border: 1px solid black;
  }
</style>
<title>File Upload Success</title>
</head>
<body>
  <h1>YES, you made it!</h1>
  <p><a href="{% url 'file_upload' %}">Upload another file</a></p>
</body>
</html>
